.who-are-we-section {
    background-color: #9dce5e;
    height: 930px;


    h2 {
        font-family: 'Roboto';
        font-size: 48px;
        font-weight: 400;
        color: white;
        text-align: center;
        padding-top: 150px;
        margin: 0;

    }
}
